#project {
  background-position: center;
  background-size: cover;
  height: 225px; width: 100%;
  color:green;
}

@media (min-width: 480px) {
    #project { height: 200px; }
}

@media (min-width: 768px) {
    #project { height: 150px; }
}

@media (min-width: 992px) {
    #project { height: 100px; }
}

.project_image,
.examine_project {
  transition: 0.3s;
}

.examine_project {
  float: left;
  clear: none;
  position:absolute; top:0; left:0;
  /* HIDE SECOND TITLE */
  opacity: 0;
}

#project:hover .project_image {
  opacity: 0;
}

#project:hover .examine_project {
  opacity: 1;
}
