.title {
  text-align:center;
  font-size:2em;
}

#projects {
  width = 100%;
}

#project {
  height: 200px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 480px) {
    #project { height: 200px; }
}

@media (min-width: 768px) {
    #project { height: 150px; }
}

@media (min-width: 992px) {
    #project { height: 100px; }
}

.project_image,
.examine_project {
  transition: 0.3s;
}

.examine_project {
  position:absolute; top:0; left:0;
  opacity: 0;
}

#project:hover .project_image {
  opacity: 0;
}

#project:hover .examine_project {
  opacity: 1;
}
